@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');


:root {
    --k-custom-body-bg: #eeeeee;
    --k-custom-card-t: #65e8d4;
    --bs-primary: #51BDAD;
    --bs-secondary: #25AD68;

    /*buttons*/

    /*links*/
    --bs-link-hover-color: #cfa7f1;
    --bs-link-color: #ae79dd;
    --bs-link-hover-color-rgb: 207, 167, 241;
    --bs-link-color-rgb: 174, 121, 221;

    /*fonts*/
    --bs-body-font-family: "Hubot Sans", sans-serif;

    font-family: "Hubot Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.londrina-sketch-regular {
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.birthstone-regular {
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.hubot-sans-regular {
    font-family: "Hubot Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.alumni-sans-pinstripe-regular {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alumni-sans-pinstripe-regular-italic {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: #9deade;
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    --bs-btn-active-bg: #3d7e5d;
    --bs-btn-active-border-color: var(--bs-btn-active-bg);
    transition: transform 0.3s ease;
}

.bg-secondary {
    background-color: #ba99d6 !important;
}

.bg-spain{
    background-color: goldenrod;
}

.bg-cn{
    background-color: rgb(189, 26, 26);
}

.bg-jp{
    background-color: #dbdbdb;
}

.bg-nl{
    background-color: #1e3a6e;
}

.language-bg{
    background-color: transparent;
    border: transparent;
}

.navbar-bg{
    background-color: var(--k-custom-body-bg);
}

.icon-rotate {
    transform: rotate(-23deg);
}

.box-shadow{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);;
}

.rotate-20:hover{
    transition: transform 0.5s ease;
    transform: rotate(15deg);
}

.button-hover:hover{
    transform: scale(1.03) rotate(15deg);
    transition: transform 0.5s ease-in-out;
}



/* animation */
.floating-text {
    animation: floating 3s ease-in-out infinite;
  }
  
  @keyframes floating {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

/* Add hover effect for Bootstrap cards */
.item1 {
    transition: transform 0.2s, box-shadow 0.2s;
}

.item1:hover, .item1:focus-within {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 8px 24px rgba(0,0,0,0.15), 0 1.5px 4px rgba(0,0,0,0.10);
    z-index: 2;

}

.en_card_bg{
    background: url(https://upload.wikimedia.org/wikipedia/commons/d/de/UK-US-CANADA-AUSTRALIA-NEW_ZEALAND_flags-fast.gif);
}


/* Custom dark theme colors */
[data-bs-theme="dark"] {

    --bs-body-bg: #2f302f;
    --bs-body-color: #f8f9fa;
    --bs-card-bg: #1c1e1f;
    --bs-border-color: #495057;
    --k-custom-body-bg: #100f21;

    /* Custom dark theme colors for buttons */
    --bs-primary: #51BDAD;
    --bs-secondary: #25AD68;

}

/* Apply to specific components */
[data-bs-theme="dark"] .card {
    background-color: var(--bs-card-bg);
    border-color: var(--bs-border-color);
}


[data-bs-theme="dark"] .form-check-input:checked {
    background-color: var(--bs-secondary);
    border-color: var(--bs-primary);
}

[data-bs-theme="dark"] .form-control {
    background-color: #2c3034;
    border-color: #495057;
    color: #f8f9fa;
}